/* .navbar-nav a {
  border: 1px solid darkgray;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
} */

.nav-tabs .nav-link:hover {
  background-color: cornflowerblue;
}


.navbar .brand-img {
  width: 1.5em;
  height: 1.5em;
}

nav {
  background-color: transparent;
}